div(class='chat-wrapper center hide')
    div(class='chat-options')
        div(class='chat-options__img-wrapper')
            img(class='chat-options__img collapse')
            div(class='chat-options__img fullscreen')
            img(class='chat-options__img close')
    div(class='chat-content-wrapper')
        div(class='chat-leftside-wrapper')
            div(class='chat-menu-wrapper')
                div(class='chat-menu__hamburger')
                div(class='chat-menu__search')
                    form(class='chat-menu__search-form')
                        input(type='search' class='chat-menu__search-item' placeholder='Найти пользователя...')
            div(class='chat-list-wrapper')
                ul(class='chat-list')
        div(class='chat-messages-wrapper')
            div(class='chat-messages-info')
                p(class='chat-messages__type') Чат
                p(class='chat-messages__member-count')
            span(class='chat-messages__typing')
            div(class='chat-detail-messages')
            div(class='chat-writing-wrapper')
                form(class='chat-writing__form')
                    input(class='chat-writing__message' type='text' placeholder='Введите сообщение...')
                    input(class='chat-writing__send-message-btn' type='submit' value='Отправить')

