div(class='file-redactor-dialog-wrapper center hide')
    div(class='file-redactor-dialog')
        div(class='file-redactor-dialog__photo-region')
            img(class='file-redactor-dialog__img')
            p(class='file-redactor-dialog__region-description') Область для профильной фотографии
        div(class='file-redactor-dialog__btn-wrapper')
            button(class='file-redactor-dialog__button cancel') Отмена
            button(class='file-redactor-dialog__button save') Сохранить
