li(class='chat-detail-messages__item')
    div(class='chat-detail-messages__item-wrapper')
        div(class='chat-detail-messages__message')
            span(class='chat-detail-messages__message-text')
            span(class='chat-detail-messages__message-time')