div(class='upload-avatar-dialog-wrapper hide')
    div(class='overlay')
    div(class='upload-avatar-dialog center')
        div(class='upload-avatar-dialog__close-btn')
        div(class='upload-avatar-dialog__title') Загрузка фото
        div(class='upload-avatar-dialog__profile-wrapper')
            input(type='file' class='upload-avatar-dialog__choose-file hide')
            div(class='upload-avatar-dialog__avatar')
            div(class='upload-avatar-dialog__profile-info')
                p(class='upload-avatar-dialog__name') Алексей Трубинин
                p(class='upload-avatar-dialog__status') В сети