li(class='chat-item')
    div(class='chat-item-wrapper')
        img(class='chat-item__avatar' src='../../assets/img/camera.png')
        div(class='chat-item__info')
            p(class='chat-item__profile-name')
            p(class='chat-item__last-message')