extends ../layout/index

block variables
    - var title = 'Main';
    - var description = 'Main';
    - var pageClass = 'main-page';
    - var lang = 'ru';

block content
    section
        .container
            +item('item title', 'item descr')
    example-component